/* Magic Mirror
 * Module: MMM-XKCD
 *
 * By jupadin
 * MIT Licensed.
 */

/* .MMM-XKCD {
    .module-header {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
    }
} */